doctype
html(lang='en',ng-app='MOapp')
  head
    title.
      MO-doc
    meta(charset='UTF-8')
    script(src='http://localhost/ba/mo-doc/mo-static/neurons/neuron.js')
    script(src='http://localhost/ba/mo-doc/mo-static/neurons/config.js')
    script(type='text/javascript').
      neuron.config({
        path:"http://localhost/ba/mo-doc/mo-static/neurons/"
      });
      window.ENV= "http://localhost/ba/mo-doc/mo-static/neurons/app-mo-static/0.1.0/";

  body
    block content
    div(ng-show="_loading",compile="_loading")


    