doctype
html(lang='en',ng-app='MOapp')
  head
    title.
      MO-doc
    meta(charset='UTF-8')
    script(src='http://http://192.168.7.94:1111/neurons/neuron.js')
    script(src='http://192.168.7.94:1111/neurons/config.js')
    script(type='text/javascript').
      neuron.config({
        path:"http://192.168.7.94:1111/neurons/"
      });
      window.ENV= "http://192.168.7.94:1111/neurons/app-mo-static/0.1.0/";

  body
    block content
    div(ng-show="_loading",compile="_loading")


    