doctype
html(lang='en',ng-app='MOapp')
  head
    title.
      MO-doc
    meta(charset='UTF-8')
    script(src='http://192.168.7.94:9074/mod/neuron/latest/neuron.js')
    script(type='text/javascript').
      neuron.config({
        path:"http://192.168.7.94:9074/mod"
      });
      window.ENV= "http://192.168.7.94:9074/mod/app-mo-static/latest/";

  body
    block content

    